@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Palette of favourite Colors */
.primary-color {
  background: #303841;
}

.secondary--color {
  background: #00adb5;
}

.third-color {
  background: #eeeeee;
}

.fourth-color {
  background: #ff5722;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  color: #bdbdbd;
}

.icon-color {
  color: #000000;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
