@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Palette of favourite Colors */
:root {
  --primary-background-color: #b21960;
  --secondary-background-color: #00adb5;
  --third-background-color: #eeeeee;
  --fourth-background-color: #ff5722;
  --primary-text-color: #49e39c;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --icon-color: #000000;

  /* ZAMBIA COLORS */

  --Zambia-green-color: #198a00;
  --Zambia-orange-color: #ef7d00;
  --Zambia-black-color: #000000;
  --Zambia-red-color: #de2010;

  --Zambia-green-pantone-color: #009e49;
  --Zambia-orange-pantone-color: #fcad56;
  --Zambia-black-pantone-color: #000000;
  --Zambia-red-pantonei-color: #ef3340;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.4;
}
